:root {
    --var--background-main: #262626;
    --var--border-button: #343434;
    --var-text: #e7e7e7;
    --var--border-main: var(--var--border-button);
}

main {
    padding: 0 10px;
}

section {
    background: var(--var--background-main);
    border: 1px solid var(--var--border-main);
    border-radius: 10px;
    max-width: 600px;
    margin: 80px auto 0 auto;
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

section > h1 {
    margin-bottom: 30px;
    text-align: center;
}

section h1 {
    font-size: 1.8em;
    color: var(--var-text);
}

section > h1:nth-of-type(2) {
    border: 1px solid var(--var--border-button);
    border-radius: 50%;
    font-size: 4.3em;
    padding: 10px;
    height: 200px;
    width: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
}


section .controls_container {
    display: flex;
    align-items: center;
}

section .controls_container button {
    background: transparent;
    border-radius: 10px;
    border: 1px solid var(--var--border-button);
    color: var(--var-text);
    cursor: pointer;
    font-size: 1.2em;
    padding: 10px;
}

section .controls_container button:not(:last-of-type) {
    margin-right: 15px;
}

.work {
    border: 1px solid #ff4544 !important;    
}

.rest {
    border: 1px solid #8edf00 !important;    
}

@media (max-width: 640px) {
    section {
        margin: 40px auto 0 auto;
    }

    section > h1 {
        font-size: 1.5em;
    }
}